// Layout

.container {
    max-width: 1900px!important;
    padding-left: 20px;
    padding-top: 80px;
}

.columns {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.navbar {
    border-radius: 0;

    &-dropdown--right {
        right: 0;
        left: auto;
    }

    &-item {
        &.brand-text {
          font-weight: 300;
        }
    }
}

.tag-input-list {
    background-color: $white-ter;
    border: $border-width solid $border;

    max-width: 60%;

    padding-bottom: 3px;

    > .tag {
        margin: 5px 2px auto 2px;
    }
}

// Quick view
.quickview {
    z-index: 10010;
}

// Border helpers

.no-border-left {
    border-left: none!important;
}

.no-border-right {
    border-right: none!important;
}

.button.is-static {
    color: $grey-dark!important;
}
