@charset "utf-8";

// FontAwesome
$fa_font_path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// OpenSans
$FontPathOpenSans: "~open-sans-fonts/open-sans";
@import '~open-sans-fonts/open-sans';
$family-primary: 'Open Sans';

// Custom theme variables
$orange-edc: #df691a;

// @see https://jenil.github.io/bulmaswatch/darkly/
@import "~bulmaswatch/darkly/_variables.scss";

// Standard bulma and plugins
@import "~bulma/bulma";

@import "~bulma-tooltip/src/sass";
@import "~bulma-quickview/src/sass";

// Override bulma and plugins
@import "~bulmaswatch/darkly/_overrides.scss";
@import "./style/dark-quickview.scss";

// Profiler
@import "./Component/Profiler/style.scss";

@import "./style/custom.scss";
